<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create User</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div>
    <form [formGroup]="userForm" (ngSubmit)="createAdminUser(userForm.value)">
        <div class="modal-body">
            <div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" placeholder="" formControlName="email">
                    <small class="text-danger"
                        *ngIf="userForm.controls['email'].dirty && userForm.controls['email'].errors?.required">Enter
                        email address</small>
                    <small class="text-danger"
                        *ngIf="userForm.controls['email'].dirty && userForm.controls['email'].errors?.email">Enter
                        a valid email address</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                    <small class="text-danger font-weight-bold ml-1"
                        *ngIf="(userForm.get('password').invalid && userForm.get('password').dirty)">
                    Enter password
                    </small>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-control" formControlName="role">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let role of roles">{{role}}</option>
                    </select>                    
                    <small class="text-danger font-weight-bold ml-1"
                        *ngIf="(userForm.get('role').invalid && userForm.get('role').dirty)">
                        Select Role
                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Create Request</button>
        </div>
    </form>
</div>