.bar-header {
    width: 80vw !important;
}


.header-app /deep/ .app-header button:nth-child(4) {
    display: none !important;
}


.header-app /deep/ button:last-child{
    display: none !important;
}

.btn-group, .btn-group-vertical {
    float: right;
}