<div class="header-app">
<app-header
  [navbarBrandRouterLink]="userData.accountType == 'ADMIN' ? '' :  ['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/images/Purse Diversified Logo - 01.jpg', width: 120, height: 50, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/images/Purse Diversified Logo Only (Small).jpg', width: 30, height: 50, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <div class="bar-header">
      <div class="btn-group" dropdown placement="bottom right">
          <img dropdownToggle id="button-basic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle img-fluid float-right mr-3" alt="Cinque Terre" height="35" width="35">
          <!-- <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            Button dropdown <span class="caret"></span>
          </button> -->
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li><span class="dropdown-item" (click)="accountSettings()">Account Settings</span></li>
            <li role="menuitem"><span class="dropdown-item" (click)="logout()">Log Out</span></li>
            <!-- <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li> -->
         
          </ul>
        </div>
      
  </div>
</app-header>
</div>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItemsFiltered" [perfectScrollbar] [disabled]="sidebarMinimized">    
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <cui-breadcrumb>
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        </div>
      </li>
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="https://purse-diverse.firebaseapp.com/">Purse Diversified</a> &copy; 2019 Purse Diversified</span>
</app-footer>
