<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-center">
                <div class="card-header">
                    <img style="width:100%;height:300px;" [src]="profile?.memberProfile?.photoUrl" alt=""
                        class="card-img-top rounded-circle" style="width: 150px;height: 150px;" />
                </div>
                <div class="card-body">
                    <h3 class="card-title mb-4">
                        {{(profile?.memberProfile?.firstName ? profile?.memberProfile?.firstName : '')  + ' ' + (profile?.memberProfile?.lastName ? profile?.memberProfile?.lastName : '')}}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="card">
                <!-- <form class="register-form" [formGroup]="registerCompleteFormGroup" novalidate> -->
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="User Information">
                        <form [formGroup]="personalInfoForm" (ngSubmit)="updateUserInfo()">
                            <div class="card-body">
                                <h5 class="card-title text-center mt-4 mb-3 text-success lead font-weight-bold">Complete
                                    your Registration</h5>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control form-control-sm" placeholder=""
                                        formControlName="firstName" blockSpecialChar>
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('firstName').invalid && personalInfoForm.get('firstName').dirty)">
                                        Enter your first name
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input type="text" class="form-control form-control-sm" placeholder=""
                                        formControlName="middleName" blockSpecialChar>
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('middleName').invalid && personalInfoForm.get('middleName').dirty)">
                                        Enter your middle name
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control form-control-sm" placeholder=""
                                        formControlName="lastName" blockSpecialChar>
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('lastName').invalid && personalInfoForm.get('lastName').dirty)">
                                        Enter your last name
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control form-control-sm" placeholder=""
                                        formControlName="address">
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('address').invalid && personalInfoForm.get('address').dirty)">
                                        Enter your address
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Date Of Birth <small class="ml-1">(* age should be 18 years old and
                                            above)</small></label>
                                    <input type="date" class="form-control form-control-sm"
                                        formControlName="birthday">
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('birthday').invalid && personalInfoForm.get('birthday').dirty)">
                                        You must be at least 18 years old
                                    </small>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label>Place of Birth</label>
                                    <input type="text" class="form-control form-control-sm" placeholder=""
                                        formControlName="birthPlace">
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('birthPlace').invalid && personalInfoForm.get('birthPlace').dirty)">
                                        Enter place of birth
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Gender</label>
                                    <br />
                                    <div class="pl-5">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" formControlName="gender"
                                                    value="Male">Male
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" formControlName="gender"
                                                    value="Female">Female
                                            </label>
                                        </div>
                                        <small class="text-danger font-weight-bold ml-1"
                                            *ngIf="(personalInfoForm.get('gender').invalid && personalInfoForm.get('gender').dirty)">
                                            Select your gender
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Civil Status</label>
                                    <input type="text" class="form-control form-control-sm" placeholder=""
                                        formControlName="civilStatus" blockSpecialChar>
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('civilStatus').invalid && personalInfoForm.get('civilStatus').dirty)">
                                        Enter civil status
                                    </small>
                                </div>
                                <!-- <div class="form-group">
                                    <label>Nationality</label>
                                    <input type="text" class="form-control form-control-sm" placeholder=""
                                        formControlName="nationality" blockSpecialChar>
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('nationality').invalid && personalInfoForm.get('nationality').dirty)">
                                        Enter nationality
                                    </small>
                                </div> -->
                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="000-000-0000"
                                        mask="000-000-0000" prefix="+63-" formControlName="contactNumber">
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('contactNumber').invalid && personalInfoForm.get('contactNumber').dirty)">
                                        Enter contact number
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Photo</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile"
                                            accept=".png,.jpeg, .jpg" (change)="onFileChange($event)"
                                            formControlName="photo">
                                        <label class="custom-file-label"
                                            for="customFile">{{photoFile==null ? 'Choose file': photoFile.name}}</label>
                                    </div>
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(personalInfoForm.get('photo').invalid && personalInfoForm.get('photo').dirty)">
                                        Select a photo
                                    </small>
                                </div>
                                <button type="submit" class="btn btn-success btn-block" [disabled]="
                                personalInfoForm.invalid || (photoFile == null && personalInfoForm.get('photo').dirty)
                                "> Submit </button>
                            </div>
                        </form>
                    </mat-tab>
                    <mat-tab label="Beneficiaries">
                        <form [formGroup]="beneficiariesForm">
                            <div class="form-group m-3">
                                <div class="card-body p-2">
                                    <div class="row">
                                        <div class="form-group col-md-4 col-sm-12">
                                            <label>First Name</label>
                                            <input type="text" class="form-control form-control-sm" placeholder=""
                                                formControlName="firstName" blockSpecialChar>
                                            <small class="text-danger font-weight-bold ml-1"
                                                *ngIf="((beneficiariesForm.controls.firstName.value == null || beneficiariesForm.controls.firstName.value == '') && beneficiariesForm.get('firstName').dirty)">
                                                Enter your first name
                                            </small>
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12">
                                            <label>Middle Name</label>
                                            <input type="text" class="form-control form-control-sm" placeholder=""
                                                formControlName="middleName" blockSpecialChar>
                                            <small class="text-danger font-weight-bold ml-1"
                                                *ngIf="((beneficiariesForm.controls.middleName.value == null || beneficiariesForm.controls.middleName.value == '') && beneficiariesForm.get('middleName').dirty)">
                                                Enter your middle name
                                            </small>
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control form-control-sm" placeholder=""
                                                formControlName="lastName" blockSpecialChar>
                                            <small class="text-danger font-weight-bold ml-1"
                                                *ngIf="((beneficiariesForm.controls.lastName.value == null || beneficiariesForm.controls.lastName.value == '') && beneficiariesForm.get('lastName').dirty)">
                                                Enter your last name
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Date Of Birth</label>
                                            <input type="date" class="form-control form-control-sm" placeholder=""
                                                formControlName="birthday">
                                            <small class="text-danger font-weight-bold ml-1"
                                                *ngIf="((beneficiariesForm.controls.birthday.value == null || beneficiariesForm.controls.birthday.value == '' || beneficiariesForm.controls.birthday.errors?.ageInvalid) && beneficiariesForm.get('birthday').dirty)">
                                                Enter your birth date. Must be 18 years old above.
                                            </small>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Place of Birth</label>
                                            <input type="text" class="form-control form-control-sm" placeholder=""
                                                formControlName="birthPlace" blockSpecialChar>
                                            <small class="text-danger font-weight-bold ml-1"
                                                *ngIf="((beneficiariesForm.controls.birthPlace.value == null || beneficiariesForm.controls.birthPlace.value == '') && beneficiariesForm.get('birthPlace').dirty)">
                                                Enter your place of birth
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control form-control-sm" placeholder=""
                                            formControlName="address">
                                        <small class="text-danger font-weight-bold ml-1"
                                            *ngIf="((beneficiariesForm.controls.address.value == null || beneficiariesForm.controls.address.value == '') && beneficiariesForm.get('address').dirty)">
                                            Enter your address
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <br />
                                        <div class="pl-5">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                        formControlName="gender" value="Male">Male
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                        formControlName="gender" value="Female">Female
                                                </label>
                                            </div>
                                            <small class="text-danger font-weight-bold ml-1"
                                                *ngIf="((beneficiariesForm.controls.gender.value == null || beneficiariesForm.controls.gender.value == '') && beneficiariesForm.get('gender').dirty)">
                                                Select your gender
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Civil Status</label>
                                            <input type="text" class="form-control form-control-sm" placeholder=""
                                                formControlName="civilStatus" blockSpecialChar>
                                            <small class="text-danger font-weight-bold ml-1"
                                                *ngIf="((beneficiariesForm.controls.civilStatus.value == null || beneficiariesForm.controls.civilStatus.value == '') && beneficiariesForm.get('civilStatus').dirty)">
                                                Enter your civil status
                                            </small>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Nationality</label>
                                            <input type="text" class="form-control form-control-sm" placeholder=""
                                                formControlName="nationality" blockSpecialChar>
                                            <small class="text-danger font-weight-bold ml-1"
                                                *ngIf="((beneficiariesForm.controls.nationality.value == null || beneficiariesForm.controls.nationality.value == '') && beneficiariesForm.get('nationality').dirty)">
                                                Enter your nationality
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Number</label>
                                        <input type="text" class="form-control form-control-sm" placeholder=""
                                            formControlName="contactNumber" placeholder="000-000-0000"
                                            mask="000-000-0000" prefix="+63-" oninput="validity.valid||(value='');">
                                        <small class="text-danger font-weight-bold ml-1"
                                            *ngIf="((beneficiariesForm.controls.contactNumber.value == null || beneficiariesForm.controls.contactNumber.value == '') && beneficiariesForm.get('contactNumber').dirty)">
                                            Enter your contact number
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Tin Number</label>
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="000-000-000-000" mask="000-000-000-000"
                                            formControlName="tinNumber">
                                        <small class="text-danger font-weight-bold ml-1"
                                            *ngIf="((beneficiariesForm.controls.tinNumber.value == null || beneficiariesForm.controls.tinNumber.value == '') && beneficiariesForm.get('tinNumber').dirty)">
                                            Please enter valid Tin Number
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <button class="btn- btn-sm btn-success float-right mr-3 mb-4" (click)="updateUserInfo()"
                                [disabled]="beneficiariesForm.invalid">Save</button>
                        </form>
                    </mat-tab>
                    <mat-tab label="Government Documents">
                        <form [formGroup]="governmentForm" (ngSubmit)="updateUserInfo()">
                            <div class="m-5">
                                <div class="form-group">
                                    <label>Tin Number</label>
                                    <input type="text" class="form-control form-control-sm"
                                        placeholder="000-000-000-000" mask="000-000-000-000"
                                        formControlName="tinId">
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(governmentForm.get('tinId').invalid && governmentForm.get('tinId').dirty)">
                                        Enter valid tin number
                                    </small>
                                </div>
                                <button class="btn- btn-sm btn-success float-right mr-3 mb-4" type="submit"
                                    [disabled]="governmentForm.invalid">Save</button>
                            </div>
                        </form>
                    </mat-tab>
                    <mat-tab label="Bank Information">
                        <form [formGroup]="bankForm" (ngSubmit)="updateUserInfo()">
                            <div class="m-5">
                                <div class="form-group">
                                    <label>Bank Account</label>
                                    <input type="number" min="0" class="form-control form-control-sm" placeholder=""
                                        formControlName="bankAccount" oninput="validity.valid||(value='');">
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(bankForm.get('bankAccount').invalid && bankForm.get('bankAccount').dirty)">
                                        Enter valid bank account number
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Paymaya Account</label>
                                    <input type="text" class="form-control form-control-sm"
                                        placeholder="0000 0000 0000 0000" mask="0000 0000 0000 0000"
                                        formControlName="paymayaAccount">
                                    <small class="text-danger font-weight-bold ml-1"
                                        *ngIf="(bankForm.get('paymayaAccount').invalid && bankForm.get('paymayaAccount').dirty)">
                                        Enter valid paymaya account number
                                    </small>
                                </div>
                                <button class="btn- btn-sm btn-success float-right mr-3 mb-4" type="submit"
                                    [disabled]="bankForm.invalid">Save</button>
                            </div>
                        </form>

                    </mat-tab>
                </mat-tab-group>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>