<div *ngIf="!showPrint" class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0">
            <div class="purse-value">{{ layAwayPurse  | currency:'PHP':'symbol-narrow':'0.2-2'}}</div>
            <div class="purse-label">Lay-away Purse</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
          <div class="card text-white bg-success">
            <div class="card-body pb-0">
              <div class="purse-value">{{ cashPurse  | currency:'PHP':'symbol-narrow':'0.2-2'}}</div>
              <div (click)="openPrint()"><i class="fa fa-money fa-1x float-right">  Withdraw</i></div>              
              <div class="purse-label">Cash Purse</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-warning">
              <div class="card-body pb-0">
                <div class="purse-value">{{ levelUpPurse  | currency:'PHP':'symbol-narrow':'0.2-2'}}</div>
                <div class="purse-label">Level-up Purse</div>
              </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-danger">
              <div class="card-body pb-0">
                <div class="purse-value">{{ reEntryPurse  | currency:'PHP':'symbol-narrow':'0.2-2'}}</div>
                <div class="purse-label">Re-entry Purse</div>
              </div>
            </div>
        </div>
    </div>
  </div>

  <div *ngIf="showPrint">
    <app-purse-print [cashPurse]="cashPurse" (emitBack)="getEmit($event)"></app-purse-print>
  </div>
  