<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">{{userCounter.profit | currency:'PHP':'symbol-narrow':'0.2-2'}}</div>
          <div>Maintenance Collection</div>
          <div></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">{{userCounter.membersCount}}</div>
          <div>Members</div>
          <div></div>
        </div>
        
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="text-value">{{userCounter.activeMembers}}</div>
          <div>Active Members</div>
          <div></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">{{userCounter.inactiveMembers}}</div>
          <div>Inactive Members</div>
          <div></div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Virtual Chamber Status</h4>
          <div class="small text-muted">{{currDate}}</div>
        </div><!--/.col-->
      </div><!--/.row-->
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0" *ngFor="let vc of virtualChamberStatus">
          <div class="text-muted"> <strong>{{vc.id}}</strong></div>
          <div class="small"><strong>{{vc.count}}/{{vc.capacity}} Members ({{vc.usage}}%)</strong></div>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':vc.usage/vc.capacity|percent:'1.0-1'}" [attr.aria-valuenow]="vc.usage" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              Virtual Chamber Report
          </div>
          <div class="card-body">
              <!-- p-table -->   
              <p-table #dt [value]="vcReport" [paginator]="true" [rows]="10" [scrollable]="true" [globalFilterFields]="['uid','name','email']">
                <ng-template pTemplate="caption">
                  <div class="row">
                    <div class="col-sm-6">
                      <div style="text-align: left">
                        <button type="button" label="EXCEL" (click)="exportExcel()" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> <b>Generate Excel</b></button>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div style="text-align: right">        
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                    </div>
                  </div>
              </ng-template>
                  <ng-template pTemplate="header">
                      <tr class="dash-header">
                          <th>User ID</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Level</th>
                          <th>Cycle</th>
                          <th>Status</th>
                          <th>Layaway Purse</th>
                          <th>Cash Purse</th>
                          <th>Re-Entry Purse</th>
                          <th>Level-Up Purse</th>
                          <th>Date Registered</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData>
                    <tr>
                      <td>{{rowData.uid}}</td>
                      <td>{{rowData.name}}</td>
                      <td>{{rowData.email}}</td>
                      <td>{{rowData.level}}</td>
                      <td>{{rowData.cycle}}</td>
                      <td><span [ngClass]="(rowData.isActive) ? 'badge badge-success':'badge badge-danger'">{{rowData.isActive ? 'ACTIVE' : 'INACTIVE'}}</span></td>
                      <td>{{rowData.layaway | currency:'PHP':'symbol-narrow':'0.2-2'}}</td>
                      <td>{{rowData.cash | currency:'PHP':'symbol-narrow':'0.2-2'}}</td>
                      <td>{{rowData.reentry | currency:'PHP':'symbol-narrow':'0.2-2'}}</td>
                      <td>{{rowData.levelUp | currency:'PHP':'symbol-narrow':'0.2-2'}}</td>
                      <td>{{rowData.dateRegistered | date: 'mediumDate'}}</td>
                    </tr>
                  </ng-template>
              </p-table>
            
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Member's Activities
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">Total Users</small>
                    <br>
                    <strong class="h4">{{numUsers}}</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">No. of Members</small>
                    <br>
                    <strong class="h4">{{numMembers}}</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">No. of Sellers</small>
                    <br>
                    <strong class="h4">{{numSellers}}</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">No. of Admin</small>
                    <br>
                    <strong class="h4">{{numAdmin}}</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
              
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          <!-- <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th>Cycle Completion (1-10)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Yiorgos Avraamu</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2019
                  </div>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Completion</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table> -->

          <p-table [value]="memberList" [paginator]="true" [rows]="25" [scrollable]="true">
              <ng-template pTemplate="header">
                  <tr class="dash-header">
                      <th>Member's Name</th>
                      <th>Role</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  <td>{{rowData.email}}</td>
                  <td>{{rowData.accountType | uppercase}}</td>
                </tr>
              </ng-template>
          </p-table>


        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <button type="button" class="btn btn-primary float-right"><i class="icon-plus"></i>&nbsp;Generate Member Code</button>
              Member's Code
          </div>
          <div class="card-body">
              <!-- p-table -->   
              <p-table [value]="memberCode" [paginator]="true" [rows]="25" [scrollable]="true">
                  <ng-template pTemplate="header">
                      <tr class="dash-header">
                          <th>Code</th>
                          <th>Status</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData>
                    <tr>
                      <td>{{rowData.code}}</td>
                      <td><span [ngClass]="(rowData.isUsed) ? 'badge badge-danger':'badge badge-success'">{{rowData.isUsed ? 'USED' : 'AVAILABLE'}}</span></td>
                    </tr>
                  </ng-template>
              </p-table>
            
          </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <button type="button" (click)="createUser()" class="btn btn-primary float-right">Action</button>
            Admin Users
            </div>
          <div class="card-body">
              <p-table [value]="adminUsers" [paginator]="true" [rows]="25" [scrollable]="true">
                  <ng-template pTemplate="header">
                      <tr class="dash-header">
                          <th>Email</th>
                          <th>Role</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData>
                    <tr>
                      <td>{{rowData.email}}</td>
                      <td>{{rowData.role | uppercase}}</td>
                    </tr>
                  </ng-template>
              </p-table>
          </div>
      </div>
    </div>
  </div>
</div>
