<div class="animated fadeIn">
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search Seller" [(ngModel)]="searchSeller"/>
  </div>
  <div class="my-1">
      <div class="row">
          <div class="col-sm-4 column p-3" *ngFor="let seller of sellers | filterSeller: searchSeller ;let i =index;">
              <div class="card">
                  <div class="card-img-top card-img-top-250 one">
                      <img style="width:100%;height:200px;" routerLink="/my-cart" class="img-fluid" [src]="seller.photoUrl" alt="image">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">{{seller.name}}</h5>
                      <p class="card-text"><small class="text-muted">{{seller?.description}}</small></p>
                  </div>
                  <div class="card-block p-3">
                    <button type="button" class="btn  btn-primary col-sm-12" (click)="openUrl(seller.url)">
                      Go to Page
                    </button>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div class="card-deck">
          <div class="card" *ngFor="let seller of sellers">
            <img [src]="seller.photoUrl" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div> -->
  </div>
</div>
