<div class="container">
        <h2 class="h1 m-0">Contact us</h2>
        <!--Contact description-->
        <p class="pb-0">We are here to assist you.</p>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> 
                        Type your message
                    </div>
                    <div class="card-body pt-1">
                        <form>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" rows="6" required></textarea>
                            </div>
                            <div class="mx-auto">
                            <button type="submit" class="btn btn-primary text-right">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card bg-light mb-3">
                    <!-- <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div> -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 column my-0">
                                <div class="card border-0 my-1 bg-light">
                                    <div class="card-body text-center p-0">
                                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                                        <h6 class="text-uppercase">call us</h6>
                                        <p>+8801683615582,+8801750603409</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 column my-0">
                                <div class="card border-0 my-1 bg-light">
                                    <div class="card-body text-center p-0">
                                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                                    <h6 class="text-uppercase">office loaction</h6>
                                    <address>Suite 02, Level 12, Sahera Tropical Center </address>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 column my-0">
                                <div class="card border-0 my-1 bg-light">
                                    <div class="card-body text-center p-0">
                                    <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                                    <h6 class="text-uppercase">email</h6>
                                    <p>http://al.a.noman1416@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    