<div class="container text-center">
    <div class="animated fadeIn mt-3">
        <button class="mb-1 btn btn-primary leftButton" (click)="router.navigate(['/vouchers'])">Go Back</button>
        <button class="mb-1 btn btn-primary rightButton" (click)="createStore = true">Create New Store</button>
        <div>
            <p-table [value]="stores">
                <ng-template pTemplate="header">
                    <tr class="text-center" style="font-size: 1.25em">
                        <th>Store Code</th>
                        <th>Store Name</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-store let-i="rowIndex">
                    <tr class="text-center">
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="store.storeCode"
                                [disabled]="!(enableStoreEdit && i == editIndex)">
                        </td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="store.storeName"
                                [disabled]="!(enableStoreEdit && i == editIndex)">
                        </td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="store.storeDescription"
                                [disabled]="!(enableStoreEdit && i == editIndex)">
                        </td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="store.location"
                                [disabled]="!(enableStoreEdit && i == editIndex)">
                        </td>
                        <td>
                            <button *ngIf="!(enableStoreEdit && i == editIndex)" class="btn btn-primary mx-1"
                                (click)="enableEdit(i)">Edit</button>
                            <button *ngIf="!(enableStoreEdit && i == editIndex)" class="btn btn-danger mx-1"
                                (click)="deleteStore(store)">Delete</button>
                            <button *ngIf="(enableStoreEdit && i == editIndex)" class="btn btn-success"
                                (click)="updateStore(store)">Save</button>
                            <button *ngIf="(enableStoreEdit && i == editIndex)" class="btn btn-danger"
                                (click)="cancelEdit(i)">Cancel</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div *ngIf="createStore" class="card w-50 mt-3" style="margin: 0 auto;">
        <div class="card-header">
            <h4 id="modal-basic-title">Create New Store</h4>
        </div>
        <div>
            <form [formGroup]="storeForm" (ngSubmit)="createNewStore(storeForm.value)">
                <div class="card-body">
                    <div>
                        <div class="form-group">
                            <label for="storeCode">Store Code</label>
                            <input class="form-control" id="storeCode" formControlName="storeCode">
                            <small class="text-danger font-weight-bold ml-1"
                                *ngIf="(storeForm.get('storeCode').invalid && storeForm.get('storeCode').dirty)">
                                Enter store code
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="storeName">Store Name</label>
                            <input class="form-control" id="storeName" formControlName="storeName">
                            <small class="text-danger font-weight-bold ml-1"
                                *ngIf="(storeForm.get('storeName').invalid && storeForm.get('storeName').dirty)">
                                Enter store name
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="storeDescription">Store Description</label>
                            <input class="form-control" id="storeDescription" formControlName="storeDescription">
                            <small class="text-danger font-weight-bold ml-1"
                                *ngIf="(storeForm.get('storeDescription').invalid && storeForm.get('storeDescription').dirty)">
                                Input store description
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input class="form-control" id="location" formControlName="location">
                            <small class="text-danger font-weight-bold ml-1"
                                *ngIf="(storeForm.get('location').invalid && storeForm.get('location').dirty)">
                                Enter a location
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-dark" (click)="createStore = false">Cancel</button>
                    <button type="submit" class="btn btn-primary" [disabled]="storeForm.invalid">Create Store</button>
                </div>
            </form>
        </div>
    </div>

</div>