.btn-right {
        position: relative;
        z-index: 99;
        float: right;
}

#no-border p-table {
        border: 0px !important;
}

.w-10 {
        width: 10%;
}

.w-15 {
        width: 15%;
}